{% section 'product-template' %}

{% comment %}Start automatically added Judge.me widget{% endcomment %}
  <div class="page-width">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
  </div>
{% comment %}End automatically added Judge.me widget{% endcomment %}

{% section 'product-recommendations' %}
{% section 'product-collection-links' %}
