{% section 'product-template-bbg' %}
{% section 'product-text-image-1' %}
{% section 'product-text-image-2' %}

{% comment %}Start automatically added Judge.me widget{% endcomment %}
  <div class="page-width frequently-bought-together-selector">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
  </div>
{% comment %}End automatically added Judge.me widget{% endcomment %}

{% section 'product-recommendations' %}
{% section 'product-collection-links' %}
